In [10]:
import pandas as pd
import numpy as np
import joblib
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
import joblib

In [2]:
test_df = pd.read_csv("D:/4th sem/test.csv")
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
required_columns = ['GrLivArea', 'BedroomAbvGr', 'FullBath']
missing_columns = [col for col in required_columns if col not in test_df.columns]
if missing_columns:
    print(f"The following required columns are missing from the test dataset: {missing_columns}")
else:
    test_df = test_df.dropna(subset=required_columns)

In [6]:
 X_test_final = test_df[required_columns]

In [12]:
model_file_path = "C:/Users/Ramiksha C Shetty/Desktop/mlproject/train/linear_regression.pkl"  # Use raw string for path
model = joblib.load(model_file_path)
print(f'Model loaded from {model_file_path}')

Model loaded from C:/Users/Ramiksha C Shetty/Desktop/mlproject/train/linear_regression.pkl

In [14]:
 y_test_predictions = model.predict(X_test_final)
print(y_test_predictions)

[122173.31310421 140561.53868318 201783.75489581 ... 102983.61108955
 103216.09446577 240377.51479736]

In [24]:
  if 'SalePrice' in test_df.columns:
        # Calculate evaluation metrics
        y_test_actual = test_df['SalePrice']
        mse = mean_squared_error(y_test_actual, y_test_predictions)
        r2 = r2_score(y_test_actual, y_test_predictions)
        
        print(f'Mean Squared Error: {mse}')
        print(f'R^2 Score: {r2}')

        # Plotting the results
        plt.scatter(y_test_actual, y_test_predictions)
        plt.xlabel("Actual Prices")
        plt.ylabel("Predicted Prices")
        plt.title("Actual vs Predicted Prices")
        plt.show()
else:
        print("The 'SalePrice' column is not available in the test dataset. Predictions have been made without evaluation.")

The 'SalePrice' column is not available in the test dataset. Predictions have been made without evaluation.